*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

html{
    font-size: 62.5%;
    background-color: #202020;
}

/*-----------------Header-----------------------*/

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 1.25rem ;
    background-color: black;
    height: 40px;
}

nav .logo_alejo{
    width: 20px;
    display: flex;
}

nav .logo_alejo div {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    margin-left: 10px;
    width: 150px; 
    display: flex;
    align-items: center;
}

nav .logo_alejo h1{
    width: 150px;
    font-weight: 100;
}



nav > label > img{
    width: 20px;
}

input#menu-hamburger{
    visibility: hidden;
}

input#menu-hamburger~ul{
    background-color: rgb(34, 33, 33);
    list-style: none;
    position: absolute;
    width: 100%;
    height: calc(100vh - 40px);
    top: 40px;
    right: 100%;
    transition: all 400ms ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

input#menu-hamburger:checked~ul{
    right: 0;
}

nav > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 100;
}

/*--------------------------Main------------------------*/

.main-container{
}

/*---------------------Profile---------------------------*/

main .profile{
    text-align: center;
}

main .profile-img{
    width: 240px;
    margin: 50px auto 0px;

}

.title{
    font-size: 2.5rem;
    margin: 20px 20px 20px;
    color: #dedede;
    text-align: center;
}

.text{
    font-size: 1.4rem;
    margin: 20px;
    color: #959595;
    text-align: center;
}

.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    color: #ffffff;
    padding: 1.15rem;
    border-radius: .5rem;
    transition: .3s;
    text-decoration: none;
    width: 180px;
    height: 50px;
    justify-content: center;
    
}

.button img{
    height: 20px;
}

.button i{
    font-size: 1.8rem;
}

.button:hover{
    background-color: lightseagreen;
}









@media only screen and (min-width: 600px){
    label{
        display: none;
    }

    input#menu-hamburger ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        height: auto;
        justify-content: flex-end;
        transition: none;
        flex-direction: row;
    }

    nav > ul > li{
        display: inline-block;
    }
    
    nav > ul > li > a{
        color: #ffffff;
        text-decoration: none;
        padding: .5rem 1rem;
        border-bottom: 2px solid transparent;
        transition: border-color .3s linear;
     
    }
    
    nav > ul > li > a:hover{
        border-color: #fbb13c;
    }
}
