@import "../../styles/variables";

.works {
  display: grid;
  gap: 90px;

  &__text {
    font-size: 1.5rem;
    text-align: center;
    @media (max-width: 440px) {
      font-size: 1rem;
    }
  }

  &__grid {
    display: grid;
    gap: 90px;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @media (max-width:860px) {
      grid-template-columns: 1fr;
      gap: 2rem;
      
      &--reverse{
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  &__info {
    &--right {
      text-align: right;
      h2 {
        color: $secondary;
        text-align: right;
      }
    }
    &--left {
      text-align: left;
      h2 {
        color: $secondary;
        text-align: left;
      }
    }
  }
  &__description {
    font-size: 1.5rem;
    @media (max-width:440px) {
      font-size: 1rem;
    }
    span {
      color: $secondary;
    }
  }
  .red {
    color: $tertiary;
  }
  .purple {
    color: $primary;
  }
  .green {
    color: $green;
  }
  .btn {
    margin-top: 2rem;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  img {
    &:hover {
      filter: brightness(60%);
      -webkit-filter: brightness(60%);
    }
  }
}
